/* 
 * 
 */
#root {
  margin: 0 auto;
  text-align: center;
}
.floating-sidebar-toggle{
    margin-bottom: 1000px;
    margin-left: 200px;
}
.home-active {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
.dropdown-item {
  display: block;
  padding: 8px;
  background: #e5e7eb;
  border-radius: 6px;
}
.sidebar-row {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
[data-sidebar="menu-button"] svg {
  width: 1.5rem;
  height: 2rem;
}

.sidebar-container{
   background-color: rgb(224, 228, 239);
   margin-bottom: 94px;
   width: inherit
}